.Bookshelf-title {
    .menu {
        display: flex;
        justify-content: space-between;
    }
}
.Bookshelf-all {
    padding: 4vw 0 3vw 4vw;
    font-size: 4vw;
    background: #f2f2f2;
    color: #333;
    span {
        color: red;
        padding: 0 2vw 0 2vw;
    }
}