.CompleteFreeOne{
    width: 100%;
    box-sizing: border-box;
}
/* title */
.CompleteFreeOne .Boutique-title{
    width: 100%;
    height: 14vw;
    padding: 4.4vw 4vw 0;
    /* margin-bottom: 3vw; */
}
.CompleteFreeOne .Boutique-title .title-left{
    display: block;
    float: left;
    margin-top: 1vw;
    margin-right: 2vw;
    width: 1vw;
    height: 4vw;
    background: #ee5048;
}
.CompleteFreeOne .Boutique-title h4{
    float: left;
    font-size: 4vw;
}
 .CompleteFreeOne ul{
    display: flex;
    width: 100%;
    /* height: 80vw; */
    flex-direction: row;
    justify-content: space-around;
}
.CompleteFreeOne li{
    width:26%;
} .CompleteFreeOne li img{
    width: 100%;
    border-radius: 1.6vw;
}
 .CompleteFreeOne li p{
    width: 100%;
    height: 9vw;
    font-size: 3.6vw;
    line-height: 9vw;
    overflow: hidden;
}
/* 倒计时 */
.CompleteFreeOne .time{
    color:#ee5048;
    float: right;
    font-size: 4.6vw;
}
.CompleteFreeOne .time i{
    display: inline-block;
    margin-top: 1vw;
    margin-right: 1vw;
    width: 7vw;
    height: 5vw;
    text-align: center;
    line-height: 4.6vw;
    color: #fff;
    border-radius: 1vw;
    background: #ee5048;
}
.CompleteFreeOne .time i:nth-of-type(2){
    margin-left: 1vw;
}
.CompleteFreeOne .time i:nth-of-type(3){
    margin-left: 1vw;
}