.detailtop{
    padding:3vw;
    font-size: 5vw;
    box-sizing: border-box;
}
.ricon{
    float: right;
}
.detailtop .anticon{
    font-size: 5vw;
    padding: 2vw;
}
.detailtop .back{
    color: #aaa;
    font-weight: 700;
}
.bookwrap{
    border-bottom: 1px solid #ccc;
    padding-bottom:5vw;
}
.bookdetail{
    padding:0 5vw;
}
.bookdetail img{
    width: 30vw;
    padding-right: 3vw;
    float:left;
}
.bookdetail>div{
    width: 60vw;
    height: 10vw;
    float: left;
    line-height: 7vw;
    color: #aaa;
    font-size:4vw
}
.bookname{
    color:#333;
    padding: 1vw 0;
    font-size:4.6vw 
}
.bookbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4vw;
}
.bookbtn span{
    display: inline-block;
    width: 45%;
    padding: 3vw;
    text-align: center;
    font-size: 4vw;
    border: 1px solid red;
    color: red;
    border-radius: 2vw;
}
.bookbtn span:nth-of-type(2){
    background: red;
    color: white;
}
.bookct{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4vw;
    font-size: 4.6vw;
}
.bookct .cticon{
    font-size: 6vw;
    padding: 0 2vw;
}
.bookct span>em{
    font-style: normal;
    padding:0 2vw;
    color: burlywood
}
.desctxt{
    padding: 4vw;
    padding-bottom: 0;
    border-bottom: 7px solid #eee;
    box-sizing: border-box;
    line-height: 6vw;
   
}
.desctxt p{
    border-bottom: 1px solid #eee;
    padding-bottom: 3vw;
    font-size: 4vw;
}

.desctxt div{
    line-height: 13vw
}
.desctxt div span{
    font-size: 4vw;
    padding: 0 2vw;
    color: #333;
    font-weight: 800;
}
.bgimg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .13;
    -webkit-filter: blur(.21333rem);
    filter: blur(.21333rem);
    left: 0;
    z-index: -1;
}
.content,.intro{
    padding:3vw;
    border-bottom: 7px solid #eee;
}
.contentlist{
    padding-top: 3vw;
}
.introlist{
    display: flex;
    padding-top: 2vw;
    flex-direction: row;
    justify-content: space-between;
}
.rewardlist h3,.content h3,.intro h3{
    padding-left: 3vw;
    border-left: 3px solid red;
    font-size: 4vw;
}

.introlist li{
    width: 30%;
}
.introlist li p{
    font-size: 4vw;
    font-weight: 700
}
.introlist li img{
    width: 100%;
}
.clear:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.contentmsg{
    padding: 3vw 0;
    margin: 0 2vw;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.contentmsg div{
    float: left;
}
.userico{
    width: 10vw;
    padding-right:3vw;
}
.userico img{
    width: 100%;
}
.saymsg{
    width: 80vw;
    font-size: 4vw;
}
.saymsg p:nth-of-type(1){
    color: #427785;
    line-height: 8vw;
    font-weight: 700
}
.saymsg p:nth-of-type(2){
    padding-bottom: 2vw;
    font-weight: 700
}
.line{
    position: absolute;
    width: 100%;
    left: 0;
}
.rewardlist{
    padding: 3vw;
    box-sizing: border-box;
}

.re{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3vw;
}
.re li{
    width: 45%;
    text-align: center;
    height: 15vw;
    font-size: 4vw;
    border: 1px solid #ccc;
    margin-bottom: 3vw;
    line-height: 15vw;
    font-weight: 700
}
.red{
    border:1px solid red !important;
    color: red;
}
.ke{
    display: block;
    width: 100%;
    height: 11vw;
    background: red;
    color: #fff;
    margin-top: 3vw;
    text-align: center;
    line-height: 11vw;
    border-radius: 3vw;
    font-size: 5vw;
}
.pagelist{
    position:absolute;
    left:0;
    top:0;
    height:100%;
}