.top-pic img {
    width: 100%;
}

.top-pic {
    position: relative;
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
/* article, aside, b, body, button, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, i, input, li, nav, p, section, select, span, textarea, ul {

/* article, aside, b, body, button, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, i, input, li, nav, p, section, select, span, textarea, ul {

article,
aside,
b,
body,
button,
dd,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
li,
nav,
p,
section,
select,
span,
textarea,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    font-size: 4vw;
    text-decoration: none;
    border: none;
    color: #333;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-family: PingFang SC, microsoft yahei;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
} */


.discover {
    padding: 4vw;
    overflow: hidden;
}

.discover .top-pic {
    position: relative;
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 8vw;
    height: 127vw;
}

.discover .top-pic .top-pic-img {
    -webkit-box-shadow: 0 2.6667vw 5.3333vw 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2.6667vw 5.3333vw 0 rgba(0, 0, 0, .2);
    border-radius: 5.3333vw;
    background: #fff;
    height: 126.6667vw;
}

.discover .top-pic .dis-pic-info {
    background: rgba(0, 0, 0, .6);
    position: absolute;
    left: 0;
    bottom: 1.0667vw;
    border-radius: 0 0 5.3333vw 5.3333vw;
    width: 100%;
}

.discover .top-pic .dis-pic-info dl {
    padding: 4vw 5.3333vw;
}

.discover .top-pic .dis-pic-info dl p {
    font-size: 3.4667vw;
    color: #fff;
    letter-spacing: 0;
    line-height: 4.2667vw;
}

.discover .top-pic img {
    -webkit-box-shadow: 0 2.6667vw 5.3333vw 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2.6667vw 5.3333vw 0 rgba(0, 0, 0, .2);
    border-radius: 5.3333vw;
    background: #fff;
    height: 125.6667vw;
}

.header_h3 {
    color: #999
}




.discover .dis-item {
    width: 100%;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 2.6667vw 5.3333vw 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2.6667vw 5.3333vw 0 rgba(0, 0, 0, .2);
    border-radius: 5.3333vw;
    margin-top: 4vw;
    margin-bottom: 8vw;
}

.discover .today-list {
    margin: 4vw 5.3333vw;
}

.discover .item-list h3 {
    font-size: 4vw;
    color: #999;
    letter-spacing: 0;
    position: relative;
}

.discover .item-list h1 {
    font-size: 6.4vw;
    color: #333;
    letter-spacing: 0;
    font-weight: 700;
    margin: 1.3333vw 0 5.3333vw;
}

.discover .today-list .audio-intro {
    font-size: 3.4667vw;
    color: #999 !important;
    margin: 1.8667vw 0 5.3333vw;
    line-height: 4.2667vw;
}

.discover .today-list .audio .audio-img {
    width: 13.3333vw;
    height: 18.6667vw;
    float: left;
    position: relative;
}

.discover .today-list .audio .audio-img i {
    position: absolute;
    left: 50%;
    top: 50%;
  
    margin-left: -3.2vw;
    margin-top: -3.2vw;
    background-size: 6.4vw auto;
    width: 6.4vw;
    height: 6.4vw;
}

.discover .today-list .audio .audio-img img {
    width: 100%;
    border-radius: 1.3333vw;
}

.discover .today-list .audio .audio-info {
    float: left;
    width: 66.6667vw;
    position: relative;
    padding: 0 0 0.8vw 5.3333vw;
}

.discover .today-list .audio .audio-info h3 {
    font-size: 4vw;
    color: #333;
}

.discover .item-list h3 {
    font-size: 4vw;
    color: #999;
    letter-spacing: 0;
    position: relative;
}

.discover .today-list .audio .audio-info p.audio-auth {
    font-size: 3.4667vw;
    color: #999;
    margin: 1.3333vw 0;
}

.discover .today-list .audio .audio-info p {
    font-size: 3.2vw;
    color: #333;
}

.dppadpd {
    width: 10vw
}

.zhicheng {
    width: 100%;
    height: 9vw;
}

.sadafasf {
    transform: translate(0px, 0px);
    transition: all 0ms ease-in 0s;
    overflow: hidden;
    width: 577px;
}
.dsadexxf{
    float: left; overflow: hidden;width: 576px;
}


.vux-warp2 {
    width: 700px;
    height: 130px;
    overflow: hidden;
}

.discover .special-list .scroller-info {
    text-align: center;
    font-size: 3.4667vw;
    color: #999;
    margin: 4vw 0;
    padding: 0 5.3333vw;
}

.vux-ul-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vux-ul-item .vux-li-item {
    float: left;
    width: 84px;
    height: 126px;
    margin: 0 6px;
}

.vux-ul-item .vux-li-item img {
    border-radius: 10px;
    height: 126px;
    width: 84px;
    width: 100%;
}

.scroller-info {
    text-align: center;
    font-size: 3.4667vw;
    color: #999;
    margin: 4vw 0;
    padding: 0 5.3333vw;
}

.adioesx {
    width: 82vw;
    height: 29vw
}

.height {
    height: 100% !important;
}

.width {
    width: 100% !important;
}

h3 i {
    float: right;
}

.cover {
    width: 100%;

    position: fixed;
    background: #eee;
    top: 0;
    transition: 0.5s;
    left: 102%;
    opacity: 1;
}

.discoverH3 {
    padding: 1vw;
    margin-left: 2vw;
}

.boxaa {
    width: 100%;
    height: 25vw;
}

.pa1 {
    width: 100% !important;
    height: 30vw !important;
    padding: 2vw !important;
}
.divboxaa{
    width: 24%;
    height: 100%;
    padding: 2%;
    float: left;
}
.boxright{
    width: 60%;
    float: left;
    height: 100%;
    padding: 2%;
}


.boxaasdsad{
    width: 100%;
    height: 14vw;
    background: #fff;
    position: fixed;
    z-index: 5;
    bottom: 0;
}
