.Inf-body {
  padding-bottom: 140%;
  background: #f5f5f5;
}

.Inf-body .Inf-title {
  height: 10.5vw;
  background: #fbf9fe;
  line-height: 10vw;
  padding-left: 3vw;
}

.Inf-body .Inf-title span {
  color: #333;
  font-size: 3.8vw;
  padding-left: 33vw;
}

.Inf-body .Inf-title .icon {
  font-size: 5vw;
  color: #ccc;
}

.Inf-body .Inf-icon {
  background: white;
  height: 20vw;
  padding: 0vw 5vw 0 5vw;
  line-height: 20vw;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5vw;
}

.Inf-body .Inf-icon p {
  font-size: 3.9vw;
  color: #333;
}

.Inf-body .Inf-icon img {
  height: 10vw;
  width: 10vw;
  margin-top: 4vw;
}

.Inf-body .Inf-id {
  background: white;
  height: 15vw;
  padding: 0vw 5vw 0 5vw;
  line-height: 15vw;
  display: flex;
  justify-content: space-between;
  margin-top: 3vw;
}

.Inf-body .Inf-id p {
  color: #333;
  font-size: 4vw;
}

.Inf-body .Inf-id span {
  color: #999;
  font-size: 4vw;
}

.Inf-body .Inf-name {
  background: white;
  height: 15vw;
  padding: 0vw 5vw 0 5vw;
  line-height: 15vw;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5vw;
}

.Inf-body .Inf-name p {
  color: #333;
  font-size: 4vw;
}

.Inf-body .Inf-name span {
  color: #999;
  font-size: 4vw;
}

.Inf-body .Inf-sex {
  background: white;
  height: 15vw;
  padding: 0vw 5vw 0 5vw;
  line-height: 15vw;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5vw;
}

.Inf-body .Inf-sex p {
  color: #333;
  font-size: 4vw;
}

.Inf-body .Inf-sex span {
  color: #999;
  font-size: 4vw;
}
