.log-body {
    .log-title {
        height: 10.5vw;
        background: #fbf9fe;
        line-height: 10vw;
        padding-left: 3vw;

        span {
            color: #333;
            font-size: 3.8vw;
            padding-left: 27vw;
        }

        .icon {
            font-size: 5vw;
            color: #ccc;
        }
    }
}