.log-body .ant-btn-primary {
  background-color: #ee5048;
  border-color: #ee5048;
}

.log-body .ant-input {
  height: 9vw;
}

.log-body .ant-btn-primary {
  height: 9vw;
}

.log-body .log-title {
  height: 10.5vw;
  background: #fbf9fe;
  line-height: 10vw;
  padding-left: 3vw;
}

.log-body .log-title span {
  color: #333;
  font-size: 3.8vw;
  padding-left: 34vw;
}

.log-body .log-title .icon {
  font-size: 5vw;
  color: #ccc;
}

.log-body .log-main {
  padding: 5vw 5vw 0vw 5vw;
}

.log-body .log-main .ant-form-item-children ul {
  display: flex;
  justify-content: space-between;
}

.log-body .log-end {
  padding: 0vw 10vw 5vw 10vw;
}

.log-body .log-end ul {
  display: flex;
  justify-content: space-around;
  font-size: 8vw;
}

.log-body .log-end span {
  text-align: center;
}

.log-body .log-end .log-tis {
  padding-top: 10vw;
  text-align: center;
}

.log-body .log-end .log-tis em {
  color: #333;
}

.log-body .log-end .log-tis span {
  color: #b6b6b6;
}
